# ASSIGNMENT 2/8/2023

# (1)i want to retrieve all the emplyment type details by country- Distributions of different employment type in each countryPakistan,Afghanistan,Nepal,India,Maldives,Bhutan,Bangladesh,Sri Lanka

In [1]:
import pandas as pd
import numpy as np

In [2]:
survey=pd.read_csv("survey_results_public.csv",index_col=[0])

In [3]:
schema=pd.read_csv("survey_results_schema.csv",index_col=[0])

In [4]:
survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [5]:
country_group=survey.groupby("Country")

In [7]:
country_group["Employment"].value_counts()

Country      Employment
Afghanistan  Employed full-time                                      21
             Independent contractor, freelancer, or self-employed     6
             Employed part-time                                       4
             Not employed, and not looking for work                   3
             Not employed, but looking for work                       3
                                                                     ..
Zimbabwe     Independent contractor, freelancer, or self-employed     8
             Not employed, but looking for work                       7
             Employed part-time                                       3
             Not employed, and not looking for work                   1
             Retired                                                  1
Name: Employment, Length: 780, dtype: int64

In [10]:
survey["Country"].unique()

array(['United Kingdom', 'Bosnia and Herzegovina', 'Thailand',
       'United States', 'Ukraine', 'Canada', 'India', 'New Zealand',
       'Antigua and Barbuda', 'Germany', 'Australia',
       'Russian Federation', 'Brazil', 'Lithuania', 'Israel',
       'South Africa', 'Colombia', 'Turkey', 'Switzerland', 'Argentina',
       'Sri Lanka', 'Czech Republic', 'Denmark', 'Malaysia', 'Bangladesh',
       'Spain', 'Serbia', 'Poland', 'Sweden', 'China', 'France',
       'Netherlands', 'Italy', 'Philippines', 'Ireland', 'Pakistan',
       'Azerbaijan', 'Austria', 'Estonia', 'Croatia', 'South Korea',
       'Greece', 'Japan', 'Romania', 'Finland', 'Bulgaria', 'Viet Nam',
       'Slovenia', 'Iran', 'Belarus', 'Hungary', 'Latvia',
       'Hong Kong (S.A.R.)', 'United Arab Emirates', 'Portugal',
       'Nigeria', 'Norway', 'Nicaragua', 'Zimbabwe', 'Egypt', 'Mexico',
       'Dominican Republic', 'Guatemala', 'Chile', 'Ecuador', 'Ghana',
       'Uganda', 'Cambodia', 'Mauritius', 'Nepal', 'Singapore',
       'Sierra Leone', 'Republic of Moldova', 'Belgium', 'Armenia',
       'Afghanistan', 'Bahrain', 'Mongolia', 'Georgia', 'Cyprus', 'Kenya',
       'Luxembourg', 'Saudi Arabia', 'Cape Verde', 'Peru', 'Burundi',
       'Iraq', 'Slovakia', 'Algeria', 'Taiwan', 'Yemen', 'Indonesia',
       'Morocco', 'Libyan Arab Jamahiriya', 'Belize', 'Mali',
       'Trinidad and Tobago', 'Venezuela, Bolivarian Republic of...',
       'Panama', 'Lebanon', 'Tunisia', 'Kuwait', 'Andorra',
       "CÃ´te d'Ivoire", 'Syrian Arab Republic', 'El Salvador', 'Cameroon',
       'Malta', 'Turkmenistan', 'Brunei Darussalam',
       'Other Country (Not Listed Above)', 'Costa Rica', 'Jordan',
       'Albania', 'Uzbekistan', 'Sudan', 'Kazakhstan',
       'The former Yugoslav Republic of Macedonia', 'Ethiopia',
       'Paraguay', 'Myanmar', 'Somalia', 'Guyana', 'Honduras', 'Qatar',
       'Jamaica', 'Fiji', 'Haiti', 'Democratic Republic of the Congo',
       'Benin', 'Namibia', 'Montenegro', 'Rwanda', 'Tajikistan',
       'Uruguay', 'Mauritania', 'Bolivia', 'Gabon', 'Liechtenstein',
       'United Republic of Tanzania', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Madagascar', 'Guinea',
       'Republic of Korea', 'Cuba', 'Maldives', 'Monaco', 'North Korea',
       'Senegal', 'Angola', 'Iceland', 'Togo', 'Swaziland',
       'Congo, Republic of the...', 'Zambia', 'Oman', 'Timor-Leste',
       'Tonga', 'Djibouti', "Democratic People's Republic of Korea",
       'Niger', 'Mozambique', 'Botswana', 'Dominica', 'Papua New Guinea',
       'Barbados', 'Seychelles', 'Lesotho', 'Bahamas', 'Burkina Faso',
       'Saint Kitts and Nevis', 'Malawi', 'Liberia', 'Bhutan',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Chad', nan], dtype=object)

In [11]:
country_group["Employment"].get_group("Pakistan")

Respondent
84                                      Employed full-time
119                                     Employed full-time
298                                                    NaN
299                                     Employed part-time
311                                     Employed full-time
                               ...
88862    Independent contractor, freelancer, or self-em...
5439                    Not employed, but looking for work
39117                   Not employed, but looking for work
60066               Not employed, and not looking for work
88182                                   Employed part-time
Name: Employment, Length: 923, dtype: object

In [12]:
country_group["Employment"].get_group("Afghanistan")

Respondent
722                                                    NaN
6417                                    Employed full-time
7085     Independent contractor, freelancer, or self-em...
7353                                               Retired
8149                                    Employed full-time
10746                                   Employed full-time
12310                                                  NaN
22450                                   Employed full-time
26340                   Not employed, but looking for work
28638    Independent contractor, freelancer, or self-em...
29045                                   Employed full-time
29736                                   Employed full-time
33178               Not employed, and not looking for work
37802                                                  NaN
39258                                   Employed full-time
40000               Not employed, and not looking for work
43106                                   Employed part-time
44403                                   Employed part-time
45854                                   Employed full-time
47110                   Not employed, but looking for work
48436                                   Employed full-time
49702                                   Employed full-time
50499                                   Employed full-time
50767    Independent contractor, freelancer, or self-em...
51859    Independent contractor, freelancer, or self-em...
58450                                   Employed full-time
58760                                   Employed full-time
59560               Not employed, and not looking for work
60569                                   Employed part-time
60946                                   Employed full-time
62168    Independent contractor, freelancer, or self-em...
62525                                   Employed full-time
63129                                   Employed full-time
74386                                   Employed part-time
80926                   Not employed, but looking for work
85715                                   Employed full-time
85825    Independent contractor, freelancer, or self-em...
86362                                   Employed full-time
86932                                   Employed full-time
87091                                   Employed full-time
88582                                   Employed full-time
88731                                                  NaN
2782                                                   NaN
63019                                                  NaN
Name: Employment, dtype: object

In [13]:
country_group["Employment"].get_group("India")

Respondent
8        Not employed, but looking for work
10                       Employed full-time
15       Not employed, but looking for work
50                       Employed full-time
65                       Employed full-time
                        ...
77339                    Employed full-time
79795                    Employed full-time
83862                    Employed full-time
84299                    Employed full-time
86012                    Employed full-time
Name: Employment, Length: 9061, dtype: object

In [14]:
country_group["Employment"].get_group("Sri Lanka")

Respondent
34                      Not employed, but looking for work
55       Independent contractor, freelancer, or self-em...
906                                     Employed full-time
1020                Not employed, and not looking for work
1104                    Not employed, but looking for work
                               ...
88275    Independent contractor, freelancer, or self-em...
88276    Independent contractor, freelancer, or self-em...
88410                   Not employed, but looking for work
26812    Independent contractor, freelancer, or self-em...
48421                                                  NaN
Name: Employment, Length: 372, dtype: object

In [15]:
country_group["Employment"].get_group("Maldives")

Respondent
6626                Not employed, and not looking for work
14063                                   Employed part-time
19428    Independent contractor, freelancer, or self-em...
34461                                   Employed full-time
35148                                   Employed full-time
46961                   Not employed, but looking for work
59277                                                  NaN
59286                                   Employed full-time
66937                                   Employed full-time
73335                                   Employed part-time
73975                                   Employed full-time
81490                                   Employed full-time
87121    Independent contractor, freelancer, or self-em...
Name: Employment, dtype: object

In [16]:
country_group["Employment"].get_group("Bhutan")

Respondent
40451    Independent contractor, freelancer, or self-em...
49033                                   Employed full-time
Name: Employment, dtype: object

In [17]:
country_group["Employment"].get_group("Bangladesh")

Respondent
42                       Employed full-time
171      Not employed, but looking for work
300      Not employed, but looking for work
324                      Employed full-time
690                                 Retired
                        ...
40072                                   NaN
62740                                   NaN
64910                                   NaN
78004                                   NaN
81624                               Retired
Name: Employment, Length: 605, dtype: object

In [18]:
country_group["Employment"].get_group("Nepal")

Respondent
508                     Not employed, but looking for work
592      Independent contractor, freelancer, or self-em...
984                                     Employed full-time
1355                                    Employed full-time
1783                                    Employed full-time
                               ...
86618                                   Employed full-time
86742                                   Employed full-time
87231                                   Employed full-time
87568                                   Employed full-time
88543                                   Employed full-time
Name: Employment, Length: 237, dtype: object

# (2) - percentage of retired people in different countries 
Pakistan,Afghanistan,Nepal,India,Maldives,Bhutan,Bangladesh,Sri Lanka,United States

In [25]:
country_group["Employment"].get_group("India").str.contains("Retired").value_counts(normalize=True)

False    0.999432
True     0.000568
Name: Employment, dtype: float64

In [30]:
country_group["Employment"].get_group("Afghanistan").str.contains("Retired").value_counts(normalize=True)

False    0.973684
True     0.026316
Name: Employment, dtype: float64

In [31]:
country_group["Employment"].get_group("Pakistan").str.contains("Retired").value_counts(normalize=True)

False    1.0
Name: Employment, dtype: float64

In [33]:
country_group["Employment"].get_group("Maldives").str.contains("Retired").value_counts(normalize=True)

False    1.0
Name: Employment, dtype: float64

In [34]:
country_group["Employment"].get_group("Sri Lanka").str.contains("Retired").value_counts(normalize=True)

False    1.0
Name: Employment, dtype: float64

In [35]:
country_group["Employment"].get_group("Nepal").str.contains("Retired").value_counts(normalize=True)

False    1.0
Name: Employment, dtype: float64

In [37]:
country_group["Employment"].get_group("Bangladesh").str.contains("Retired").value_counts(normalize=True)

False    0.994889
True     0.005111
Name: Employment, dtype: float64

In [38]:
country_group["Employment"].get_group("Bhutan").str.contains("Retired").value_counts(normalize=True)

False    1.0
Name: Employment, dtype: float64

In [39]:
country_group["Employment"].get_group("United States").str.contains("Retired").value_counts(normalize=True)

False    0.993321
True     0.006679
Name: Employment, dtype: float64

# ASSIGNMENT 07/08/2023

# (1) Value counts of Gender wise by Country

In [41]:
country_group["Gender"].value_counts()

Country      Gender
Afghanistan  Man                                                            26
             Woman                                                           2
             Non-binary, genderqueer, or gender non-conforming               1
             Woman;Man;Non-binary, genderqueer, or gender non-conforming     1
Albania      Man                                                            70
                                                                            ..
Yemen        Woman;Man                                                       1
Zambia       Man                                                            11
             Woman                                                           1
Zimbabwe     Man                                                            37
             Woman                                                           2
Name: Gender, Length: 539, dtype: int64

# (2)Gender wise Python Users in each country

In [42]:
gender_group=survey.groupby("Gender")

In [45]:
gender_group["LanguageWorkedWith"].str.contains("Python").value_counts()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

# (3)Groupby EdLevel, Salary Median

In [46]:
edlevel=survey.groupby("EdLevel")

In [47]:
edlevel["ConvertedComp"].median()

EdLevel
Associate degree                                                                      56092.5
Bachelorâs degree (BA, BS, B.Eng., etc.)                                              60000.0
I never completed any formal education                                                53562.0
Masterâs degree (MA, MS, M.Eng., MBA, etc.)                                           57744.0
Other doctoral degree (Ph.D, Ed.D., etc.)                                             81960.0
Primary/elementary school                                                             34368.0
Professional degree (JD, MD, etc.)                                                    32998.0
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    37128.0
Some college/university study without earning a degree                                52476.0
Name: ConvertedComp, dtype: float64

# (4)Years of experience grouping> Salary in terms of Years of Experience(median)

In [48]:
exp_group=survey.groupby("YearsCode")

In [49]:
exp_group["ConvertedComp"].value_counts()

YearsCode           ConvertedComp
1                   60000.0          10
                    65000.0           9
                    2520.0            7
                    2000000.0         7
                    45000.0           6
                                     ..
More than 50 years  154676.0          1
                    180000.0          1
                    250000.0          1
                    628068.0          1
                    785083.0          1
Name: ConvertedComp, Length: 29825, dtype: int64

# (5)Years of experience grouping> Count of Gender

In [ ]:
exp_