In [1]:
import pandas as pd
import numpy as np

In [12]:
iris=pd.read_csv("Iris (1).csv",index_col=[0])

In [51]:
titanic=pd.read_csv("Titanic-Dataset.xls")

# (1) How many samples and features are there in the Iris dataset?

In [7]:
iris.shape

(150, 6)

# (2) What are the names of the features (columns) in the dataset?

In [14]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

# (3) . How many unique species of iris flowers are present in the dataset?

In [171]:
iris["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# (4)What is the average sepal length for each species of iris?

In [17]:
iris["SepalLengthCm"].mean()

5.843333333333334

In [172]:
species_group=iris.groupby("Species")

In [174]:
species_group["SepalLengthCm"].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

# (5) What is the maximum petal width among all the iris flowers?

In [173]:
iris["PetalWidthCm"].max()

2.5

# (6)How many samples belong to each species of iris?

In [21]:
iris["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

# (7) How many samples have a petal length greater than 5 cm?

In [175]:
iris[iris["PetalLengthCm"]>5]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
84             6.0           2.7            5.1           1.6  Iris-versicolor
101            6.3           3.3            6.0           2.5   Iris-virginica
102            5.8           2.7            5.1           1.9   Iris-virginica
103            7.1           3.0            5.9           2.1   Iris-virginica
104            6.3           2.9            5.6           1.8   Iris-virginica
105            6.5           3.0            5.8           2.2   Iris-virginica
106            7.6           3.0            6.6           2.1   Iris-virginica
108            7.3           2.9            6.3           1.8   Iris-virginica
109            6.7           2.5            5.8           1.8   Iris-virginica
110            7.2           3.6            6.1           2.5   Iris-virginica
111            6.5           3.2            5.1           2.0   Iris-virginica
112            6.4           2.7            5.3           1.9   Iris-virginica
113            6.8           3.0            5.5           2.1   Iris-virginica
115            5.8           2.8            5.1           2.4   Iris-virginica
116            6.4           3.2            5.3           2.3   Iris-virginica
117            6.5           3.0            5.5           1.8   Iris-virginica
118            7.7           3.8            6.7           2.2   Iris-virginica
119            7.7           2.6            6.9           2.3   Iris-virginica
121            6.9           3.2            5.7           2.3   Iris-virginica
123            7.7           2.8            6.7           2.0   Iris-virginica
125            6.7           3.3            5.7           2.1   Iris-virginica
126            7.2           3.2            6.0           1.8   Iris-virginica
129            6.4           2.8            5.6           2.1   Iris-virginica
130            7.2           3.0            5.8           1.6   Iris-virginica
131            7.4           2.8            6.1           1.9   Iris-virginica
132            7.9           3.8            6.4           2.0   Iris-virginica
133            6.4           2.8            5.6           2.2   Iris-virginica
134            6.3           2.8            5.1           1.5   Iris-virginica
135            6.1           2.6            5.6           1.4   Iris-virginica
136            7.7           3.0            6.1           2.3   Iris-virginica
137            6.3           3.4            5.6           2.4   Iris-virginica
138            6.4           3.1            5.5           1.8   Iris-virginica
140            6.9           3.1            5.4           2.1   Iris-virginica
141            6.7           3.1            5.6           2.4   Iris-virginica
142            6.9           3.1            5.1           2.3   Iris-virginica
143            5.8           2.7            5.1           1.9   Iris-virginica
144            6.8           3.2            5.9           2.3   Iris-virginica
145            6.7           3.3            5.7           2.5   Iris-virginica
146            6.7           3.0            5.2           2.3   Iris-virginica
148            6.5           3.0            5.2           2.0   Iris-virginica
149            6.2           3.4            5.4           2.3   Iris-virginica
150            5.9           3.0            5.1           1.8   Iris-virginica

# (8) How can you filter and display only the samples belonging to a specific species, e.g., Iris 
setosa?

In [28]:
iris_set=iris[iris["Species"]=="Iris-setosa"]
iris_set

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa

# (9) What is the minimum and maximum sepal length among Iris setosa flowers?

In [30]:
iris_set["SepalLengthCm"].max()

5.8

In [31]:
iris_set["SepalLengthCm"].min()

4.3

# (10)  How many missing values are there in each column of the dataset?

In [32]:
iris.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# (11) Create a new DataFrame containing only the samples with petal length greater than 4.5 cm.

In [34]:
iris[iris["PetalLengthCm"]>4.5]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
51             7.0           3.2            4.7           1.4  Iris-versicolor
53             6.9           3.1            4.9           1.5  Iris-versicolor
55             6.5           2.8            4.6           1.5  Iris-versicolor
57             6.3           3.3            4.7           1.6  Iris-versicolor
59             6.6           2.9            4.6           1.3  Iris-versicolor
..             ...           ...            ...           ...              ...
146            6.7           3.0            5.2           2.3   Iris-virginica
147            6.3           2.5            5.0           1.9   Iris-virginica
148            6.5           3.0            5.2           2.0   Iris-virginica
149            6.2           3.4            5.4           2.3   Iris-virginica
150            5.9           3.0            5.1           1.8   Iris-virginica

[63 rows x 5 columns]

# (12) Which species of iris has the highest average petal width?

In [178]:
species_group["PetalWidthCm"].mean().max()

2.026

In [38]:
iris[iris["PetalWidthCm"]==2.5]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
101            6.3           3.3            6.0           2.5  Iris-virginica
110            7.2           3.6            6.1           2.5  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica

# (13)  Use the apply function to convert all petal lengths from centimeters to millimeters.

In [181]:
iris5=iris.copy()

In [187]:
iris5["PetalLengthCm"]=iris5["PetalLengthCm"].apply(lambda x:x*10)
iris5

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,\tPetalLengthCm
Id,,,,,,
1,5.1,3.5,14.0,0.2,Iris-setosa,14.0
2,4.9,3.0,14.0,0.2,Iris-setosa,14.0
3,4.7,3.2,13.0,0.2,Iris-setosa,13.0
4,4.6,3.1,15.0,0.2,Iris-setosa,15.0
5,5.0,3.6,14.0,0.2,Iris-setosa,14.0
...,...,...,...,...,...,...
146,6.7,3.0,52.0,2.3,Iris-virginica,52.0
147,6.3,2.5,50.0,1.9,Iris-virginica,50.0
148,6.5,3.0,52.0,2.0,Iris-virginica,52.0
149,6.2,3.4,54.0,2.3,Iris-virginica,54.0
150,5.9,3.0,51.0,1.8,Iris-virginica,51.0

# (14)  Replace the species names in the Iris dataset with numeric labels as follows: "Iris setosa" with 0, "Iris versicolor" with 1, and "Iris virginica" with 2.

In [195]:
iris5["Species"].unique()

array([0, 1, 2], dtype=int64)

In [196]:
iris5["Species"]=iris1["Species"].map({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2})

In [197]:
iris5

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,\tPetalLengthCm
Id,,,,,,
1,5.1,3.5,14.0,0.2,0,14.0
2,4.9,3.0,14.0,0.2,0,14.0
3,4.7,3.2,13.0,0.2,0,13.0
4,4.6,3.1,15.0,0.2,0,15.0
5,5.0,3.6,14.0,0.2,0,14.0
...,...,...,...,...,...,...
146,6.7,3.0,52.0,2.3,2,52.0
147,6.3,2.5,50.0,1.9,2,50.0
148,6.5,3.0,52.0,2.0,2,52.0
149,6.2,3.4,54.0,2.3,2,54.0
150,5.9,3.0,51.0,1.8,2,51.0

# (15) Create a new column named "species_type" in the Iris dataset that maps the species names to specific types based on their initial letters. Use "S" for species starting with 'Iris setosa', "V"  for species starting with 'Iris versicolor', and "G" for species starting with 'Iris virginica'.

In [73]:
iris1["species_type"]=iris["Species"].map({"Iris-setosa":"S","Iris-versicolor":"V","Iris-virginica":"G"})

In [74]:
iris1

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,species_type
Id,,,,,,
1,5.1,3.5,140.0,0.2,Iris-setosa,S
2,4.9,3.0,140.0,0.2,Iris-setosa,S
3,4.7,3.2,130.0,0.2,Iris-setosa,S
4,4.6,3.1,150.0,0.2,Iris-setosa,S
5,5.0,3.6,140.0,0.2,Iris-setosa,S
...,...,...,...,...,...,...
146,6.7,3.0,520.0,2.3,Iris-virginica,G
147,6.3,2.5,500.0,1.9,Iris-virginica,G
148,6.5,3.0,520.0,2.0,Iris-virginica,G
149,6.2,3.4,540.0,2.3,Iris-virginica,G
150,5.9,3.0,510.0,1.8,Iris-virginica,G

# ADVANCED

# (1)  Create a new column named "sepal_length_category" that maps the sepal length to categories as follows: "Short" for sepal length less than 5.5 cm, "Medium" for sepal length between 5.5 cm and 6.5 cm (inclusive), and "Long" for sepal length greater than 6.5 cm.

In [80]:
iris2["sepal_length_category"]=iris2["SepalLengthCm"].map({"[SepalLengthCm"]<5.5:"short",["SepalLengthCm"].between(5.5,6.5):"medium",["SepalLengthCm"]>6.5:"large"})

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' (499053084.py, line 1)

In [81]:
iris2=iris.copy()

# (2) Use the map() function to replace the values in the "species" column with their corresponding full species names, e.g., 0 with "Iris setosa", 1 with "Iris versicolor", and 2 with "Iris virginica".`

In [198]:
iris5

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,\tPetalLengthCm
Id,,,,,,
1,5.1,3.5,14.0,0.2,0,14.0
2,4.9,3.0,14.0,0.2,0,14.0
3,4.7,3.2,13.0,0.2,0,13.0
4,4.6,3.1,15.0,0.2,0,15.0
5,5.0,3.6,14.0,0.2,0,14.0
...,...,...,...,...,...,...
146,6.7,3.0,52.0,2.3,2,52.0
147,6.3,2.5,50.0,1.9,2,50.0
148,6.5,3.0,52.0,2.0,2,52.0
149,6.2,3.4,54.0,2.3,2,54.0
150,5.9,3.0,51.0,1.8,2,51.0

In [199]:
iris5["Species"]=iris["Species"].map({0:"Iris-setosa",1:"Iris-versicolor",2:"Iris-virginica"})
iris5

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,\tPetalLengthCm
Id,,,,,,
1,5.1,3.5,14.0,0.2,NaN,14.0
2,4.9,3.0,14.0,0.2,NaN,14.0
3,4.7,3.2,13.0,0.2,NaN,13.0
4,4.6,3.1,15.0,0.2,NaN,15.0
5,5.0,3.6,14.0,0.2,NaN,14.0
...,...,...,...,...,...,...
146,6.7,3.0,52.0,2.3,NaN,52.0
147,6.3,2.5,50.0,1.9,NaN,50.0
148,6.5,3.0,52.0,2.0,NaN,52.0
149,6.2,3.4,54.0,2.3,NaN,54.0
150,5.9,3.0,51.0,1.8,NaN,51.0

# (3) Create a new column named "petal_length_label" that maps the petal length values to "Short", "Medium", or "Long" based on the quartiles of the petal length distribution (e.g., below 25th percentile: "Short", between 25th and 75th percentile: "Medium", above 75th percentile: "Long").

In [83]:
iris2["PetalLengthCm"].value_counts(normalize=True)

1.5    0.093333
1.4    0.080000
5.1    0.053333
4.5    0.053333
1.6    0.046667
1.3    0.046667
5.6    0.040000
4.7    0.033333
4.9    0.033333
4.0    0.033333
4.2    0.026667
5.0    0.026667
4.4    0.026667
4.8    0.026667
1.7    0.026667
3.9    0.020000
4.6    0.020000
5.7    0.020000
4.1    0.020000
5.5    0.020000
6.1    0.020000
5.8    0.020000
3.3    0.013333
5.4    0.013333
6.7    0.013333
5.3    0.013333
5.9    0.013333
6.0    0.013333
1.2    0.013333
4.3    0.013333
1.9    0.013333
3.5    0.013333
5.2    0.013333
3.0    0.006667
1.1    0.006667
3.7    0.006667
3.8    0.006667
6.6    0.006667
6.3    0.006667
1.0    0.006667
6.9    0.006667
3.6    0.006667
6.4    0.006667
Name: PetalLengthCm, dtype: float64

# (4)  Map the sepal width values to "Narrow" if they are less than 3.0 cm, and "Wide" if they are 3.0 cm or greater. Create a new column named "sepal_width_type" to store this information.

In [202]:
iris9=iris.copy()

In [203]:
iris9["sepal_width_type"]=iris9["SepalWidthCm"].apply(lambda x:"Narrow" if x<3.0 else "Wide")

In [204]:
iris9

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_width_type
Id,,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa,Wide
2,4.9,3.0,1.4,0.2,Iris-setosa,Wide
3,4.7,3.2,1.3,0.2,Iris-setosa,Wide
4,4.6,3.1,1.5,0.2,Iris-setosa,Wide
5,5.0,3.6,1.4,0.2,Iris-setosa,Wide
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,Wide
147,6.3,2.5,5.0,1.9,Iris-virginica,Narrow
148,6.5,3.0,5.2,2.0,Iris-virginica,Wide
149,6.2,3.4,5.4,2.3,Iris-virginica,Wide
150,5.9,3.0,5.1,1.8,Iris-virginica,Wide

# (5) Use the map() function to convert the "species" column to lowercase, so all species names are in lowercase letters.

# (6) Map the "petal_area" values to "Small", "Medium", or "Large" based on custom thresholds (e.g., below 2.5 cm^2: "Small", between 2.5 cm^2 and 5.0 cm^2: "Medium", above 5.0 cm^2: "Large").

In [ ]:
iris

# (7)  Create a new column named "species_encoded" that maps the species names to unique integer values, where "Iris setosa" is encoded as 0, "Iris versicolor" as 1, and "Iris virginica" as 2.

# (8) Map the "sepal_length" values to the corresponding category labels "Very Short", "Short", "Medium", "Long", and "Very Long" based on custom-defined bins.

# (9)  Use the map() function to replace the "species_type" values with their corresponding full names, e.g., "S" with "Iris setosa", "V" with "Iris versicolor", and "G" with "Iris virginica"

# (10)  Create a new column named "petal_width_type" that maps the petal width values to "Narrow", "Medium", or "Wide" based on custom-defined bins1

# TITANIC DATASET

# (1)  What was the overall survival rate of passengers on the Titanic?

In [85]:
titanic1=titanic.copy()

In [86]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [88]:
titanic["Survived"].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

# (2) What was the survival rate for male and female passengers separately?

In [89]:
gender_group=titanic.groupby("Sex")

In [200]:
gender_group["Survived"].value_counts(normalize=True)

Sex     Survived
female  1           0.742038
        0           0.257962
male    0           0.811092
        1           0.188908
Name: Survived, dtype: float64

# (3)  How many passengers survived in each passenger class (1st, 2nd, and 3rd class)?

In [91]:
class_group=titanic.groupby("Pclass")

In [93]:
class_group["Survived"].value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

# (4)  What was the average age of survivors and non-survivors?

In [94]:
titanic["Age"].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [102]:
survival_group=titanic.groupby("Survived")

In [103]:
survival_group["Age"].mean()

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

# (5)  Did the passenger class have any impact on the survival rate? Compare survival rates for each class.

In [121]:
class_group["Survived"].get_group(3).value_counts(normalize=True)

0    0.757637
1    0.242363
Name: Survived, dtype: float64

In [122]:
class_group["Survived"].get_group(2).value_counts(normalize=True)

0    0.527174
1    0.472826
Name: Survived, dtype: float64

In [123]:
class_group["Survived"].get_group(1).value_counts(normalize=True)

1    0.62963
0    0.37037
Name: Survived, dtype: float64

# (6)  How many passengers had siblings/spouses aboard? Did having siblings/spouses increase the chances of survival?

In [107]:
sib_group=titanic.groupby("SibSp")

In [134]:
titanic["SibSp"].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [141]:
survival_group["SibSp"].get_group(0).value_counts()

0    398
1     97
4     15
2     15
3     12
8      7
5      5
Name: SibSp, dtype: int64

In [142]:
survival_group["SibSp"].get_group(1).value_counts()

0    210
1    112
2     13
3      4
4      3
Name: SibSp, dtype: int64

In [106]:
titanic["SibSp"].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

# (7) How many passengers had parents/children aboard? Did having parents/children increase the chances of survival?

In [128]:
survival_group["SibSp"].get_group(0).value_counts(normalize=True)

0    0.724954
1    0.176685
4    0.027322
2    0.027322
3    0.021858
8    0.012750
5    0.009107
Name: SibSp, dtype: float64

In [129]:
survival_group["SibSp"].get_group(1).value_counts(normalize=True)

0    0.614035
1    0.327485
2    0.038012
3    0.011696
4    0.008772
Name: SibSp, dtype: float64

# (8)  Did the port of embarkation affect the survival rate? Compare survival rates for each embarkation port (C - Cherbourg, Q - Queenstown, S - Southampton).

In [130]:
survival_group["Embarked"].get_group(0).value_counts(normalize=True)

S    0.777778
C    0.136612
Q    0.085610
Name: Embarked, dtype: float64

In [131]:
survival_group["Embarked"].get_group(1).value_counts(normalize=True)

S    0.638235
C    0.273529
Q    0.088235
Name: Embarked, dtype: float64

# (9) Is there any correlation between fare paid and survival rate?

In [133]:
correlation=titanic["Fare"].corr(titanic["Survived"])
print("correlation between fare and survival rate : ",correlation)

correlation between fare and survival rate :  0.2573065223849623

In [144]:
survival_group["Fare"].get_group(0).value_counts()

8.0500     38
7.8958     37
13.0000    26
7.7500     22
26.0000    16
           ..
51.8625     1
90.0000     1
12.2750     1
9.3500      1
10.5167     1
Name: Fare, Length: 177, dtype: int64

In [145]:
survival_group["Fare"].get_group(1).value_counts()

13.0000     16
26.0000     15
7.7500      12
10.5000      9
26.5500      8
            ..
55.4417      1
75.2500      1
108.9000     1
247.5208     1
24.0000      1
Name: Fare, Length: 153, dtype: int64

# 10. What was the distribution of passengers' ages within each passenger class?
To solve these questions, you can use pandas' groupby function to group the data based on relevant 
columns (e.g., sex, passenger class, embarkation port) and then apply various aggregation functions 
(such as mean, sum, count) to derive insights. Additionally, you can use other pandas operations, like 
filtering, merging, and visualization, to gain further insights from the data.

In [143]:
class_group["Age"].value_counts()

Pclass  Age
1       35.0    9
        36.0    9
        24.0    7
        30.0    6
        38.0    6
               ..
3       61.0    1
        63.0    1
        65.0    1
        70.5    1
        74.0    1
Name: Age, Length: 182, dtype: int64

#  ADVANCED

# 1. Did the presence of a cabin affect the survival rate? Compare the survival rates for passengers with and without cabins.

In [135]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [137]:
titanic["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [138]:
cabin_group=titanic.groupby("Cabin")

In [139]:
survival_group["Cabin"].get_group(0).value_counts()

G6             2
C22 C26        2
C23 C25 C27    2
F G73          2
D26            2
              ..
C91            1
C2             1
T              1
C128           1
B51 B53 B55    1
Name: Cabin, Length: 62, dtype: int64

In [140]:
survival_group["Cabin"].get_group(1).value_counts()

B96 B98    4
E101       3
F33        3
B18        2
B20        2
          ..
C32        1
E34        1
C7         1
C54        1
C148       1
Name: Cabin, Length: 101, dtype: int64

# 2. What was the survival rate for passengers traveling alone versus those traveling with family members (siblings/spouses/parents/children)?

In [146]:
survival_group["SibSp"].get_group(0).value_counts(normalize=True)

0    0.724954
1    0.176685
4    0.027322
2    0.027322
3    0.021858
8    0.012750
5    0.009107
Name: SibSp, dtype: float64

In [147]:
survival_group["SibSp"].get_group(1).value_counts(normalize=True)

0    0.614035
1    0.327485
2    0.038012
3    0.011696
4    0.008772
Name: SibSp, dtype: float64

# 3. How many passengers of each age group (e.g., children, teenagers, adults, seniors) survived?

In [148]:
titanic["Age"].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [153]:
survival_group["Age"].get_group(1).value_counts()

24.00    15
36.00    11
35.00    11
27.00    11
22.00    11
         ..
55.00     1
32.50     1
12.00     1
0.92      1
47.00     1
Name: Age, Length: 65, dtype: int64

# 4. Did the combination of a passenger's sex and class influence their chances of survival? Compare survival rates for different combinations (e.g., female in 1st class, male in 3rd class, etc.).

In [154]:
survival_group["Pclass","Sex"].value_counts()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10928\1785884710.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  survival_group["Pclass","Sex"].value_counts()

Survived  Pclass  Sex
0         3       male      300
          2       male       91
          1       male       77
          3       female     72
          2       female      6
          1       female      3
1         1       female     91
          3       female     72
          2       female     70
          3       male       47
          1       male       45
          2       male       17
dtype: int64

# 5. Calculate the average fare paid by passengers who survived and those who did not

In [156]:
survival_group["Fare"].mean()

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

# 6. Were there any significant differences in the survival rates between passengers with different titles (e.g., Mr., Mrs., Miss, Master, etc.)?

In [160]:
titanic.loc[:,["Name","Survived"]].value_counts()

Name                                     Survived
Abbing, Mr. Anthony                      0           1
Nysveen, Mr. Johan Hansen                0           1
Nicholson, Mr. Arthur Ernest             0           1
Nicola-Yarred, Master. Elias             1           1
Nicola-Yarred, Miss. Jamila              1           1
                                                    ..
Goodwin, Miss. Lillian Amy               0           1
Goodwin, Mr. Charles Edward              0           1
Goodwin, Mrs. Frederick (Augusta Tyler)  0           1
Graham, Miss. Margaret Edith             1           1
van Melkebeke, Mr. Philemon              0           1
Length: 891, dtype: int64

# 7. How did the survival rate vary among passengers from different countries of origin?

In [161]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [163]:
survival_group["Embarked"].get_group(1).value_counts()

S    217
C     93
Q     30
Name: Embarked, dtype: int64

# 8. Calculate the average number of siblings/spouses and parents/children for passengers in each class

In [201]:
class_group["SibSp"].mean()

Pclass
1    0.416667
2    0.402174
3    0.615071
Name: SibSp, dtype: float64

# 9. What was the survival rate for passengers with missing age values compared to those with recorded ages?

In [167]:
titanic.loc[:,["Survived","Age"]].isnull().sum()

Survived      0
Age         177
dtype: int64

In [169]:
titanic["Age"].isnull().sum()

177

# 10. Analyze the survival rates based on the length of the passenger names (e.g., short names vs. long names). Create age groups (e.g., 0-10, 11-20, 21-30, etc.) and analyze the survival rate within each group. Which age group had the highest survival rate?

# 11. Calculate the average survival rate for passengers with at least one family member aboard (parent, child, sibling, or spouse) compared to those traveling alone.

In [170]:
survival_group["SibSp"].mean()

Survived
0    0.553734
1    0.473684
Name: SibSp, dtype: float64

# 12. For passengers with missing age values, use other information (e.g., title, class) to estimate and fill in the missing ages before analyzing survival rates.

# 13. Investigate the survival rates based on the length of the journey (i.e., distance between the embarkation and destination ports) for each passenger.

# 14. Create a new column indicating whether a passenger's last name is shared with other passengers and analyze if sharing a last name influenced survival rates.

# 15. Compare the survival rates of passengers who purchased their tickets through different ticket agencies.

# 16. Analyze the survival rates for passengers who had multiple cabins and see if there's any correlation between the number of cabins and survival.

# 17. Determine the survival rate based on the total number of family members (parents, children, siblings, and spouses) a passenger had on board.

# 18. Calculate the average fare paid by survivors and non-survivors in each passenger class and identify any trends or outliers.

# 19. Explore the survival rates for passengers with different combinations of missing values (e.g., missing age and cabin data, missing age and fare data, etc.)

# 20. Analyze the survival rate based on the number of family members (parents, children, siblings, and spouses) a passenger had on board, while also taking into account the passenger class. How did the presence of family members affect the survival rate differently in each class?